soapCxfWebService/src/main/resources/altresWsdl/SumaServei.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/SumaServei/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SumaServei" targetNamespace="http://www.example.org/SumaServei/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/SumaServei/">
      <xsd:element name="Suma">
        <xsd:complexType>
          <xsd:sequence>
          	<xsd:element name="paramA" type="xsd:int" />
          	<xsd:element name="paramB" type="xsd:int"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SumaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="resultat" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SumaRequest">
    <wsdl:part element="tns:Suma" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="SumaResponse">
    <wsdl:part element="tns:SumaResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="SumaServei">
    <wsdl:operation name="Suma">
      <wsdl:input message="tns:SumaRequest"/>
      <wsdl:output message="tns:SumaResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SumaServeiSOAP" type="tns:SumaServei">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Suma">
      <soap:operation soapAction="http://www.example.org/SumaServei/Suma"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SumaServei">
    <wsdl:port binding="tns:SumaServeiSOAP" name="SumaServeiSOAP">
      <soap:address location="http://localhost:9093/services/soap/SumaServei"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
